body {
    width: 100%;
    margin: auto;
}
header {
    background-color: #5a5a5a;
    position: relative;
    height: 100px;
    width: 100%;
    margin: auto;
}
img {
    position: absolute;
    margin: 15px 0 0 128px;
}
nav {
    position: absolute;
    width: auto;
    margin: 48px 0 0 394px;
    color: #bdbbbb;
}
nav li{
    display: inline;
    padding-right: 103px;
}

main {
    height: 1335px;
    position: relative;
    width: 100%;
    margin: auto;
}
div img{
    margin: 492px 0 0 129px;
}
img:last-child {
    margin: 492px 0 0 788px;
}
img:nth-child(2) {
    margin: 492px 0 0 459px;
}
div {
    position: relative;
    clear: both;
}
h1 {
    top: 907px;
    left: 633px;
    text-transform: capitalize;
    position: absolute;
    font-family: sans-serif;
    font-size: 28px;
}
p {
    top: 944px;
    left: 633px;
    overflow: scroll;
    height: 296px;
    width: 450px;
    line-height: 24px;
    position: absolute;
}

div h1+img {
    position: absolute;
    left: -330px;
    top: 419px;
}

button {
    position: absolute;
    width: 254px;
    text-transform: capitalize;
    border: 0.5px solid;
    border-radius: 4px;
    height: 51px;
    top: 1259px;
    left: 638px;
    background-color: black;
    color: white;
}
button:hover {
    color: #3a7eb9;
    background: #90C1FC;
    box-shadow: 0 0 10px #90C1FC, 0 0 40px #90C1FC, 0 0 80px #90C1FC;
}
footer {
    width: 100%;
    margin: auto;
    background-color: #5a5a5a;

    height: 106px;
}
